@model BC.Intranet.Models.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow"/>
    <title>@Model.PageTitle</title>
    
    @*@Scripts.Render("~/frame/scripts/modernizr")*@
    <script src="https://mowido.blob.core.windows.net/scripts/modernizr-2.6.2.min.js" type="text/javascript"></script>

    @*@Styles.Render("~/frame/css")*@
    <link href="https://mowido.blob.core.windows.net/css/admin-style.1.0.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mowido Admin", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                    <li>@Html.ActionLink("Places", "Index", "Place")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*@Scripts.Render("~/frame/scripts")*@
    <script src="https://mowido.blob.core.windows.net/scripts/admin-scripts.1.0.min.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>