@model BC.Web.Models.HomeViewModel

@section Header{

    @if (Request.Url.Host.Contains("mowido.se"))
    {
        <link rel="canonical" href="https://www.mowido.se" />
    }

    <meta name="description" content="@Resources.Resources.MetaDesc_Startpage" />
}

@section TopBody{ 

    <div class="jumbotron">
        <div class="start-search-area">
            <h1 class="start-header">@Resources.Resources.StartTop_Header</h1>
            <div class="start-search">
                <input type="hidden" name="placeId" id="place-hidden" data-startslug="@Resources.Resources.Url_FindHouse" data-host="@Model.Host">
                <input type="search" name="place-field" id="place-field" autocomplete="off" class="start-freetext" list="result-places" placeholder="@Resources.Resources.Search_Placeholder"  />
                <button onclick="SearchPlace($('#place-hidden').val(), $('#place-field').val());" class="btn btn-search btn-big">@Resources.Resources.Search</button>
            </div>
            <div class="most-search-area">
                <div class="top-search-line-area">
                    <div class="line-left"></div>
                    <div class="line-header">
                        <h3>@Resources.Resources.Top4ContryCity</h3>
                    </div>
                    <div class="line-right"></div>
                </div>
                <div class="clear"></div>
                <div class="list-top-search">
                    <ul class="top-list-country">

                        @foreach (var c in Model.Countries)
                        {
                            <li>
                                <h4><a href="@Common.Helpers.UrlBuilder.PlaceUrl(c.Id, c.PlaceName, Resources.Resources.Url_FindHouse)">@c.PlaceName</a></h4>
                                <ul class="top-list-city">
                                    @foreach (var city in c.Cities)
                                    {
                                        <li><a href="@Common.Helpers.UrlBuilder.PlaceUrl(city.Id, city.PlaceName, Resources.Resources.Url_FindHouse)">@city.PlaceName</a></li>
                                    }
                                </ul>
                            </li>
                        }
                       
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
}

<div class="row">
    <div class="col-md-12 mobile-col">
        <h2 class="starpage-h-latest">@Model.Header</h2>

        @foreach (var product in Model.LatestFirst)
        {
            <div class="col-md-3 latest-product">
                <a class="latest-link" href="@Common.Helpers.UrlBuilder.ProductUrl(product.Id, product.Address, Resources.Resources.Url_Product, product.PlaceName)">
                    <div class="latest-header">
                        <h3>@(product.PlaceName.Length > 15 ? product.PlaceName.Substring(0, 12) + "..." : product.PlaceName)</h3>
                        <p>@product.CreatedDate</p>
                    </div>
                    <img src="@product.ImageUrl" alt="@product.Address" />
                    <div class="latest-desc">
                        <h4>@(product.Address.Length > 23 ? product.Address.Substring(0, 20) + "..." : product.Address)</h4>
                        <p class="l-desc">
                            @(product.Description.Length > 73 ? product.Description.Substring(0, 70) + "..." : product.Description)
                        </p>
                        <p><a class="btn btn-blue" href="@Common.Helpers.UrlBuilder.ProductUrl(product.Id, product.Address, Resources.Resources.Url_Product, product.PlaceName)">@Resources.Resources.Map_Readmore</a></p>
                        <div class="clear"></div>
                    </div>
                </a>
            </div>
        }
        
    </div>
</div>

<div class="row">
    <div class="col-md-12 mobile-col">
        @foreach (var product in Model.LatestSecond)
        {
            <div class="col-md-3 latest-product">
                <a class="latest-link" href="@Common.Helpers.UrlBuilder.ProductUrl(product.Id, product.Address, Resources.Resources.Url_Product, product.PlaceName)">
                    <div class="latest-header">
                        <h3>@(product.PlaceName.Length > 15 ? product.PlaceName.Substring(0, 12) + "..." : product.PlaceName)</h3>
                        <p>@product.CreatedDate</p>
                    </div>
                    <img src="@product.ImageUrl" alt="@product.Address" />
                    <div class="latest-desc">
                        <h4>@(product.Address.Length > 23 ? product.Address.Substring(0, 20) + "..." : product.Address)</h4>
                        <p>
                            @(product.Description.Length > 73 ? product.Description.Substring(0, 70) + "..." : product.Description)
                        </p>
                        <p><a class="btn btn-blue" href="@Common.Helpers.UrlBuilder.ProductUrl(product.Id, product.Address, Resources.Resources.Url_Product, product.PlaceName)">@Resources.Resources.Map_Readmore</a></p>
                        <div class="clear"></div>
                    </div>
                </a>
            </div>
        }

    </div>
</div>

@section scripts{
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@*<script src="~/Frame/scripts/search.js" type="text/javascript"></script>*@
<script src="https://mowido.blob.core.windows.net/scripts/search.1.0.5.min.js" type="text/javascript"></script>

}